<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="chat.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="chatFun.js"></script>
<script src="chat.js"></script>
<script src="logoutHandler.js"></script>
<script src="shareMomFun.js"></script>
<style type="text/css">
  .ppl {
      float: right;
      margin-right: 10px;
      margin-top: -25px;
      position: relative;
      z-index: 2;
      color:darkslategrey;
  }
</style>

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-secondary navbar-dark">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="momentAdder.html">Add Moments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="view-moment.html">View Moments</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="chat.html">Chat</a>
          </li>
        </ul>
        <span>
          <button class="btn btn-success" id="logout-btn">Log Out</button>
        </span>
      </nav>

<div class="container alert-success p-2 mt-3 rounded-pill" id="userMsg">
  <h2 class="text-center font-weight-bold">Enter First Moment with your profile pic to start</h2>
</div> 


<div class="container col-lg-6 col-10">
<div class="col col alert-heading text-center p-2" id="status">
    <h3 style="background-color:rgb(212, 205, 196)"  class="p-1">Tap <b>ONLINE</b> to go online</h3>
    <div class="btn btn-group d-flex flex-wrap align-content-center">
        <button class="btn btn-info m-1" id="online">Online</button>
        <button class="btn btn-success m-1" id="offline">Offiline</button>
            </div>
       <h4 style="background-color:rgb(212, 205, 196)" class="p-2"><b>NOTE: </b>If you are offline no user can chat with you
        <br> If you close this tab or redirect to another to another URL you <b>Automatically </b>go <b>OFFLINE</b></h4> 
</div>

  <div class="col alert-heading text-center p-2 mt-2" id="active">
    <div class="p-2" style="background-color:rgb(212, 205, 196)"><h2>Click to Join to your chat  <span id="shareText">and Share this Moment<br><h4>
       <b>NOTE:</b> Moments persists only till the user is ONLINE
    </h4></span> "Online Users"</h2></div>
    <div class="btn btn-group d-flex flex-wrap align-content-center" id="activeUsers">
<!-- <button class="btn btn-info m-1">Aman</button>
<button class="btn btn-info m-1">Aman</button>
<button class="btn btn-info m-1">Aman</button>-->
    </div>
  </div>

    <div class="col">
<div id="chat-box" class="container alert-heading text-center p-2 mt-2" style="background-color:rgb(212, 205, 196); height: auto; max-height: 500px; overflow-y: scroll">
<h2 class="font-weight-bold">Chat</h2>
<div id="chat-msg">
  <!-- <div class="container-custom">
    <div class="carder-l">
        <img src="back.jpg" alt="Avatar" style="width:100%;">
        <span class="badge badge-dark">Darkqdw</span>
      </div>
  <p class="text-left alert-light p-2 rounded-pill font-weight-bold">Hello. How are you today?</p>
  <span class="time-right">11:00</span>
</div> -->

<!-- <div class="border-dark p-4 my-2" style="border-radius: 50px; background-color: bisque; border-style: dotted">
  <div class="row">
 <div class="col-6 my-5">
   <h5 class="font-weight-bold">Date: 20/2/2019 </h5><br>
   <h5 class="font-weight-bold">Place: Gao</h5><br>
   <h5 class="font-weight-bold">Moment: Having fun at bazaar</h5><br>
 </div>
 <div class="col-6">
     <img src="../uploads/sample.jpg"   class="img-thumbnail">
</div>
</div>
</div> -->

<!-- <div class="container-custom darker"> 
    <div class="carder-r">
  <img src="back.jpg" alt="Avatar" class="right" style="width:100%;">
  <span class="badge badge-dark">Dark</span>
</div>
  <p class="text-right alert-light p-2 rounded-pill font-weight-bold">Hey! I'm fine. Thanks for asking!</p>
  <span class="time-left">11:01</span>
</div>

<div class="container-custom">
  <div class="carder-l">
  <img src="back.jpg" alt="Avatar" style="width:100%;">
  <span class="badge badge-dark">Darkqdw</span>
</div>
  <p class="text-left alert-light p-2 rounded-pill font-weight-bold">Sweet! So, what do you wanna do today?</p>
  <span class="time-right">11:02</span>
</div>

<div class="container-custom darker">
    <div class="carder-r">
        <img src="back.jpg" alt="Avatar" class="right" style="width:100%;">
        <span class="badge badge-dark">Darkqdw</span>
      </div>
  <p class="text-right alert-light p-2 rounded-pill font-weight-bold">Nah, I dunno. Play soccer.. or learn more coding perhaps cedeede dede deded ded?</p>
  <span class="time-left">11:05</span>
</div> -->
</div>
<form class="form-group">
  <input type="text" class="form-control  font-weight-bold" placeholder="Send Message" style="background-color:whitesmoke" id="chat-input">
   <span class="fa far fa-paper-plane ppl" id="chat-btn"></span>
</form>
</div>
</div>
</body>
</html>


