<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moments</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="view-moment.js"></script>
</head>

<body background="back.jpg">
    <nav class="navbar navbar-expand-lg bg-secondary navbar-dark">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="momentAdder.html">Add Moments</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="view-moment.html">View Moments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="chat.html">Chat</a>
          </li>
        </ul>
        <span>
          <button class="btn btn-success" id="logout-btn">Log Out</button>
        </span>
      </nav>
     <div class="container p-4 col-12 col-lg-6" id="mom-container">
    <!--    <div class="border-dark p-4 my-2" style="border-radius: 50px; background-color: bisque; border-style: dotted">
           <div class="row">
          <div class="col-6 my-5">
            <h5 class="font-weight-bold">Date: 20/2/2019 </h5><br>
            <h5 class="font-weight-bold">Place: Gao</h5><br>
            <h5 class="font-weight-bold">Moment: Having fun at bazaar</h5><br>
          </div>
          <div class="col-6">
              <img src="../uploads/sid_pic.jpg"   class="img-thumbnail">
            </div>
        </div>
        </div> -->
    </div> 
</body>

</html>