 /* body {
    background-image: repeating-linear-gradient(235deg, #CC333F 0 5vh, #EB6841 5.1vh 20vh, #EDC951 20.1vh 35vh, transparent), repeating-linear-gradient(125deg, #CC333F 0 5vh, #EB6841 5.1vh 20vh, #EDC951 20.1vh 35vh, transparent);
    background-size: 4vw 100vh;
    background-position: 0 0, 4vw 0;
    background-repeat: repeat-y;
  }
   */